<body>
    <div id="mySidenav" class="sidenav">
        <a href="/browse-food">Browse Foods</a>
        <a href="/profile">Profile</a>
        <a href="/meal-plan">Plan Your Meal</a>
        <a href="/login">LogOut</a>
    </div>

    <div id="main" style="position:absolute;margin-left: 240px;;">

        <mat-tab-group>
            <mat-tab label="Meals">
                  
                <div class="container" id="contained">
                    <div class="row">
                        <h4>Meals</h4>
                        
                        <div class="card" style="width: 18rem;" id="cards" *ngFor ="let data of meal">
                            <div class="card-body">
                                <h5 class="card-title">{{data.title}}</h5>
                                <p class="card-text">Servings : {{data.servings}}<br>
                                    Minimum Time Taken to Cook : {{data.readyInMinutes}} minutes
                                </p>
                                <a href={{data.sourceUrl}} class="btn btn-primary">Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                        </mat-tab>
                    </mat-tab-group>
                        
    </div>
</body>